@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html, body{
	height:100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #222;
	margin:0;
}

#sticky-footer{
	background-color:#e9ecef;
	min-height: 5rem;
	line-height: 5rem;
}

.no-wrap{
	white-space: nowrap;
}

/*Quick fix, not encouraged*/

.rounded-circle{
	max-height: 15rem;
}

#link-item{
	display: inline-block;
}

/*#jumbotron-design{
	min-height: 30rem;
}*/

#jumbotron-explode{
	min-height: 12rem;
	background-color: white;
}


.attribution{
	font-size:1.2rem;
}

.source-name{
	font-weight: bold;
	font-style: italic;
	color:#53779b;
}

#img-logo{
	height:100px;
}

#table-results{
	margin-top: 2.3rem;
}

#div-results{
	margin-top: 5rem;
}

#testimonialCarousel{
	min-height: 30rem;
}

.med-spaced{
	margin-left:.5rem !important;
	margin-right: .5rem !important;
	margin-bottom: 2.3rem !important;
	margin-top: 2.3rem !important;
}

.p-col{
	margin-top:1.2rem;
}

/*Fine now, but need to give these buttons their own classes/ids*/

.btn-outline-primary{
	margin-top:2rem;
}

.btn-primary{
	margin-top:1.6rem;
	padding: .8rem;
	border-radius: 0;
	background-color: #274BA5;
}

.navbar{
	background-color: #274ba5;
	padding-left: 1.3rem;
}

.navbar-nav li{
	padding-right: 1.3rem;
}

.nav-link{
	color:#c0c1c6;
	font-size: 1.2em;
}

.nav-link:hover, .active{
	color:#f7f9ff;
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(247, 249, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
